@using System.ComponentModel.DataAnnotations
@using client.Helpers
@inject HttpClient Http
@inject ApiAuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@page "/login"

<h3>Login</h3>

<input @bind="Model.Email" placeholder="Email" />
<input @bind="Model.Password" type="password" placeholder="Password" />
<button @onclick="LoginUser">Login</button>

@code {
    private LoginDto Model { get; set; } = new()
    {
        Email = string.Empty,
        Password = string.Empty
    };

    private async Task LoginUser()
    {
        var response = await Http.PostAsJsonAsync("account/login", Model);
        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadFromJsonAsync<TokenDto>();
            if (token == null)
            {
                ToastService.ShowError("Failed to fetch token");
                return;
            }
            await AuthStateProvider.MarkUserAsAuthenticated(token.Token);
            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            ToastService.ShowError(response.StatusCode.ToString());
        }
    }
    
    public class LoginDto
    {
        [Required]
        public required string Email { get; set; }

        [Required]
        public required string Password { get; set; }
    }

    public class TokenDto
    {
        [Required]
        public required string Token { get; set; }
    }
}